// Start Hero Swiper Pagination Bullet
.swiper-pagination-hero{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: 35px !important;
    z-index: 1;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $an__primary-color;
        background-color: transparent;
        z-index: 1;
        &.swiper-pagination-bullet-active {
          position: relative;
          background-color: $an__primary-color;
          &::before {
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            background: transparent;
            border-radius: 50%;
            border: 1px solid $an__primary-color;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            top: 50%;
          }
        }
      }
}
// End Hero Swiper Pagination Bullet

// Start Title Area
.an__title-part{
  margin-bottom: 50px;
  @include an__screen-991{
    margin-top: 35px;
  }
  @include an__screen-767{
    margin-top: 25px;
  }
  .an__main-title{
    font-size: 65px;
    font-weight: 700;
    color: $an__primary-color;
    margin-bottom: 18px;
    @include an__screen-991{
      font-size: 55px;
    }
    @include an__screen-767{
      font-size: 45px;
      margin-bottom: 15px;
    }
  }
  .an__sub-title{
    font-size: 30px;
    font-weight: 500;
    color: $an__primary-color;
    @include an__screen-991{
      font-size: 25px;
    }
    @include an__screen-767{
      font-size: 20px;
    }
  }
}
// End Title Area